.label {
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  padding: 3px 8px;
  border-radius: 2px;
  display: inline-block;
  margin-right: 7px;
  vertical-align: 4px;
}
