.ds-input {
  &.ant-input {
    &.ds-input {
      border-radius: 0;
      padding: 0 10px 0 0;

      &-focused,
      &:focus {
        box-shadow: none;
      }

      &-border-bottom-only {
        border: none;
        border-bottom: 1px solid $muted;
      }
    }
  }
}
