.stories {
  &-filters {
    padding-left: 50px;
    margin-bottom: 50px;
  }

  &-list {
    &-item {
      margin-bottom: 50px;
      border-radius: 9px;
      padding: 40px;

      .hero-title {
        margin-bottom: 50px;
      }

      .content {
        margin-bottom: 35px;
      }
    }
  }
}
